
  <div style="width: 50%; margin: auto; background-color: white">
    <h1 style="text-align: center; color: black">Select Software Wallet</h1>
    <div style="width: 100%; height: 91px"></div>
    <button style="width: 90%; margin-left: 5%; height:160px; border-radius: 15px; background-color: white; cursor: pointer" onclick="location.href='/wallet/access/software/keystore'">
    <div style="text-align: left; color: black; font-size: 24px">Keystore File</div>
    <div style="width: 100%; height: 20px"></div>
    <div style="text-align: left; color: black; font-size: 18px">
    </div>
    </button>
    <div style="width: 100%;height:20px"></div>
    <button style="width: 90%; margin-left: 5%; height:160px; border-radius: 15px; background-color: yellow; border: 0px">
    <div style="text-align: left; color: black; font-size: 24px">NOT RECOMMEND</div>
    <div style="width: 100%; height: 20px"></div>
    <div style="text-align: left; color: black; font-size: 18px">
    This information is sensitive, and these options should only be used in offline settings by experienced crypto users.
    </div>
    </button>
  </div>
