<!DOCTYPE html>
<html>
<head>
    <title>MyEtherWallet</title>
</head>
<body style="background-color: {{bgColor}};">
    <div style=" height: 100%">
        {{{body}}}
    </div>
</body>
</html>
