
  <div style="width: 50%; margin: auto">
    <h1 style="text-align: center; color: white">Create a new wallet</h1>
    <div style="text-align: center; font-size: 20px; color: white" >Please select a method to create a new wallet <br>
      Already have a wallet? <a href="/wallet/access" style="color:#2cc479">Access Wallet</a>
    </div>
    <div style="width: 100%; height: 91px"></div>
    <button style="width: 90%; margin-left: 5%; height:160px; border-radius: 15px; background-color: white; cursor: pointer" onclick="location.href='/wallet/create/software'">
    <div style="text-align: left; color: black; font-size: 24px">Software</div>
    <div style="width: 100%; height: 20px"></div>
    <div style="text-align: left; color: black; font-size: 18px">
    Software Methods Like Keystore File And Mnemonic Phrase Should Only Be Used In Offline Settings By Experienced Users. 
    </div>
    </button>
  </div>
