
<div style="margin-top: 200px;margin-left: 200px">
    <h1 style="text-align: Left;width: 50%; color: white">Ethereum's Original Wallet</h1>
    <div style="text-align: Left; font-size: 20px; color: white;width: 50%" >MEW (MyEtherWallet) is a free, client-side interface helping you interact with the Ethereum blockchain. Our easy-to-use, open-source platform allows you to generate wallets, interact with smart contracts, and so much more. </div>
    <div style="width: 100%; height: 91px"></div>
    <button onclick="location.href='/wallet/create'" style="width: 20%; height: 50px; border: 0px; background-color: #52e193; border-radius: 5px; cursor: pointer; color: white">Create A New Wallet</button>
    <button onclick="location.href='/wallet/access'" style="width: 20%; height: 50px; border: 1px solid #52e193; background-color: #004c90; border-radius: 5px; cursor: pointer; color: #52e193">Access My Wallet</button>
</div>
