
  <div style="width: 50%; margin: auto; background-color: white">
    <h1 style="text-align: center; color: black">Create Wallet with Keystore File</h1>
    <div style="width: 100%; height: 91px"></div>
    <div>
        <div style="display: inline"><button style="border: 0px; border-radius: 50%; background-color: #949494; width: 30px; height: 30px">1</button><hr style="display:inline-block;" width="40%"/></div>
        <div style="display: inline"><button style="border: 0px;border-radius: 50%; background-color: #949494; width:30px; height: 30px">2</button><hr style="display:inline-block;" width="40%"/></div>
        <div style="display: inline"><button style="border: 0px;border-radius: 50%; background-color: #004d9f; width:30px; height: 30px">3</button></div>
    </div>
    <div width="100%" height="30px"></div>
    <h3 style="color: #949494;">Step 3.</h3>
    <h1>You are done!</h1>
    <div style="margin: 10px; width:100%; display: inline">
        <div style="width: 40%; text-align: left">
            <span>You are now ready to take advantage of all that Ethereum has to offer! Access with keystore file should only be used in an offline setting.</span>
        </div>
    </div>
    <button onclick="location.href='/wallet/access'" style="margin-top: 20px ;width: 40%; height: 40px;background-color: #52e193; border: 0px; border-radius: 5px; cursor: pointer">Access Wallet</button>
    <br>
    <button  onclick="location.href='/wallet/create'" style="background-color: white;margin-top: 20px;width: 40%; height: 40px;border: 0px; border-radius: 5px; cursor: pointer">Create another Wallet</button>
  </div>
