
  <div style="width: 50%; margin: auto; background-color: white">
    <h1 style="text-align: center; color: black">Create Wallet with Keystore File</h1>
    <div style="width: 100%; height: 91px"></div>
    <div>
        <div style="display: inline"><button style="border: 0px; border-radius: 50%; background-color: #004d9f; width: 30px; height: 30px">1</button><hr style="display:inline-block;" width="40%"/></div>
        <div style="display: inline"><button style="border: 0px;border-radius: 50%; background-color: #949494; width:30px; height: 30px">2</button><hr style="display:inline-block;" width="40%"/></div>
        <div style="display: inline"><button style="border: 0px;border-radius: 50%; background-color: #949494; width:30px; height: 30px">3</button></div>
    </div>
    <div width="100%" height="30px"></div>
    <h3 style="color: #949494;">Step 1.</h3>
    <h1>Create password</h1>
    <form method="POST" action="/wallet/create/software/fileDownload">
        <div style="width: 98%; height:40px; border: 1px #52e193 solid; margin: auto">
            <input required placeholder="Enter password" size="90%" type="password" id="password" name="password" style = "border: 0px; margin: auto">
        </div>
        <div style="width: 98%; height:40px; border: 1px #52e193 solid; margin: auto; margin-top:20px">
            <input required placeholder="Confirm password" size="90%" type="password" id="confirm_password" name="confirm_password" style = "border: 0px; margin: auto">
        </div>
        <div style="margin-top: 20px ;text-align: center;">
            <button id="btSub" onclick="return check()" type="submit" style="cursor: pointer; background-color: #52e193; width: 150px; height: 50px; border: 0px; border-radius: 5px">Create Wallet</button>
        </div>

    </form>
    </button style="margin-top: 30px">
    <div style="width: 100%;height:20px"></div>
    <button style="width: 90%; margin-left: 5%; height:160px; border-radius: 15px; background-color: yellow; border: 0px">
    <div style="text-align: left; color: black; font-size: 24px">NOT RECOMMEND</div>
    <div style="width: 100%; height: 20px"></div>
    <div style="text-align: left; color: black; font-size: 18px">
    This information is sensitive, and these options should only be used in offline settings by experienced crypto users.
    </div>
    </button>
  </div>

  <script>
      function check(){
          const pw = document.getElementById('password').value;
          const cpw = document.getElementById('confirm_password').value;
          if (pw.length < 7)
            {
                alert('Password must be longer than 7 characters')
                return false;
            }
          if (pw === cpw)
          return true
          else{
            alert('Password does not match')
            return false;
          }
      }
  </script>
